rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow read, update, delete: if isSignedIn() && request.auth.uid == userId;
    }

    match /families/{familyId} {
      function isMember() {
        return isSignedIn() &&
               resource.data.memberUserIds != null &&
               resource.data.memberUserIds.hasAny([request.auth.uid]);
      }

      function isAdmin() {
        return isSignedIn() &&
               resource.data.adminUserIds != null &&
               resource.data.adminUserIds.hasAny([request.auth.uid]);
      }

      allow read: if isMember() || isAdmin();
      allow update: if isAdmin();
      allow create: if isSignedIn();
    }

    match /invitations/{invitationId} {
      allow create: if isSignedIn();
      allow read, update: if isSignedIn() && request.auth.uid == resource.data.invitedUserId;
    }
  }
}

